@attribute [Authorize(Roles = "Patient")]

@using Interfaces.Models.Input

@inject DialogService DialogService
@inject IDentalTeamService DentalTeamService
@inject ITreatmentService TreatmentService

<EditForm EditContext="@EditContext" OnValidSubmit="OnSubmit">
    <ApplicationValidator TModel="@ITreatmentSessionInput" />

    <div class="form-group row">
        <div class="col-md-3">
            <label for="@nameof(Model.DentalTeamReferenceId)">Dental Team</label>
        </div>
        <div class="col">
            <RadzenDropDown AllowClear="true" AllowFiltering="true" TValue="string" LoadData="@LoadDentalTeams" 
                Data="@DentalTeams"
                TextProperty="Name" ValueProperty="ReferenceId" @bind-Value="DentalTeamReferenceId" >
            </RadzenDropDown>
            <ValidationMessage For="@(() => Model.DentalTeamReferenceId)" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="@nameof(Model.TreatmentReferenceId)">Treatment</label>
        </div>
        <div class="col">
            <RadzenDropDown AllowClear="true" AllowFiltering="true" TValue="string" LoadData="@LoadTreatments" 
                Data="@Treatments"
                TextProperty="Name" ValueProperty="ReferenceId" @bind-Value="TreatmentReferenceId" Change="@(args => OnTreatmentChange(args))" >
            </RadzenDropDown>
            <ValidationMessage For="@(() => Model.TreatmentReferenceId)" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="@nameof(Model.Start)">@nameof(Model.Start)</label>
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@PeriodWrapperModel.Start" Name="Model.Start" ShowTime="true" Change="@(args => OnStartChange())" />
            <ValidationMessage For="@(() => Model.Start)" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label for="@nameof(Model.End)">@nameof(Model.End)</label>
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@PeriodWrapperModel.End" Name="Model.End" ShowTime="true" />
            <ValidationMessage For="@(() => Model.End)" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col">
            <ValidationSummary />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
        </div>
    </div>
</EditForm>

@code {
    public EditContext EditContext { get; set; }
    
    public string DentalTeamReferenceId 
    { 
        get => Model.DentalTeamReferenceId?.ToString(); 
        set
        {
            if (value != null)
            {
                Model.DentalTeamReferenceId = new Guid(value);
            }
            else 
            {
                Model.DentalTeamReferenceId = null;
            }
        }
    }

    public string TreatmentReferenceId 
    { 
        get => Model.TreatmentReferenceId?.ToString(); 
        set
        {
            if (value != null)
            {
                Model.TreatmentReferenceId = new Guid(value);
            }
            else 
            {
                Model.TreatmentReferenceId = null;
            }
        }
    }

    public IEnumerable<DentalTeamDropDownViewModel> DentalTeams { get; set; }

    public IEnumerable<TreatmentDropDownViewModel> Treatments { get; set; }

    public TreatmentSessionPeriodWrapperModel PeriodWrapperModel => new TreatmentSessionPeriodWrapperModel(Model);

    [Parameter]
    public ITreatmentSessionInput Model { get; set; }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Model);
    }

    async Task LoadDentalTeams()
    {
        DentalTeams = await DentalTeamService.GetDentalTeamsDropDownListAsync();
    }

    async Task LoadTreatments()
    {
        Treatments = await TreatmentService.GetTreatmentsAsync();
    }

    void OnTreatmentChange(object value)
    {
        ChangeTreatmentSessionDuration();
    }

    void OnStartChange()
    {
        ChangeTreatmentSessionDuration();
    }

    private void ChangeTreatmentSessionDuration()
    {
        var durationInMinutes = Treatments.SingleOrDefault(
                t => t.ReferenceId.Equals(Model.TreatmentReferenceId.ToString())
            )
            .DurationInMinutes;
        Model.End = Model.Start.Value.AddMinutes(durationInMinutes);
    }

    private void OnSubmit()
    {
        DialogService.Close(Model);
    }
}