@attribute [Authorize(Roles = "Patient")]

@using Interfaces.Models.Output

@inject DialogService DialogService
@inject ITreatmentSessionService TreatmentSessionService
@inject ILocalStorageService LocalStorage

<RadzenCard Style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-6">
            <div>Requested Treatment:</div>
            <b>@Model?.Treatment?.Name</b>
            <div style="margin-top:20px">Dental Team:</div>
            <b>@Model?.DentalTeam?.Name</b>
            <div style="margin-top:20px">Patient:</div>
            <b>@("John" + " " + "Doe")</b>
            <br />
            <div class="image-cropper">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                alt="avatar image">
            </div>
        </div>
        <div class="col-md-6">
            <div>@nameof(Model.Status):</div>
            <b>@Model?.Status</b>
            <div style="margin-top:20px">@nameof(Model.Start):</div>
            <b>@Model?.Start</b>
            <div style="margin-top:20px">@nameof(Model.End):</div>
            <b>@Model?.End</b>
            <div style="margin-top:20px">Duration:</div>
            <b>@((Model?.End - Model?.Start)?.TotalMinutes)</b>
        </div>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Guid ReferenceId { get; set; }

    public ITreatmentSessionOutput Model { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var patientReferenceId = await LocalStorage.GetItemAsync<Guid>("PatientReferenceId");
        Model = await TreatmentSessionService.GetAppointment(ReferenceId, patientReferenceId);
    }
}