<nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top shadow bg-primary">
    <a class="navbar-brand" href="#">DentalScheduler.Web.UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item @(ActivePage == "home" ? "active" : "")">
                        <NavLink class="nav-link font-weight-bold" href="" Match="NavLinkMatch.All" @onclick="@(() => NavigationClicked("home"))">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item @(ActivePage == "schedule" ? "active" : "")">
                        <NavLink class="nav-link font-weight-bold" href="schedule" @onclick="@(() => NavigationClicked("schedule"))">
                            <span class="oi oi-calendar" aria-hidden="true"> </span> Schedule
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Patient">
                <Authorized>
                    <li class="nav-item @(ActivePage == "history" ? "active" : "")">
                        <NavLink class="nav-link font-weight-bold" href="history" @onclick="@(() => NavigationClicked("history"))">
                            <span class="oi oi-list-rich" aria-hidden="true"> </span> History
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
            <li class="nav-item @(ActivePage == "about" ? "active " : "")">
                <a href="http://blazor.net" target="_blank" class="nav-link font-weight-bold"><span class="oi oi-list-rich" aria-hidden="true"></span> About</a>
            </li>
        </ul>
        <Avatar />
    </div>
</nav>

@code {
    public string ActivePage { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void NavigationClicked(string pageName)
    {
        ActivePage = pageName;
        ToggleNavMenu();
    }
}
